@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.auth_layout {
  display: flex;
  height: 100vh;
}

.image_section {
  display: none;
  width: 50%;
  background-image: url('/imgs/login-bg.png');
  background-size: cover;
  background-position: center;

  @include lg {
    display: block;
  }
}

.form_section {
  @include flex-center;
  width: 100%;
  overflow-y: auto;
  padding: $spacing-48 $spacing-24;
  background-color: $color-background;

  @include lg {
    width: 50%;
  }
}
