@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main {
  min-height: 100vh;
  padding-top: 76px;
  background-color: $color-background;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: $spacing-48 $spacing-24;
  @include flex-center;

  @include lg {
    padding: $spacing-48 100px;
  }
}
