@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.signup_container {
  width: 100%;
  max-width: 400px;
  @include flex-column;
}

.title {
  font-size: $font-size-title-24;
  font-weight: $font-weight-semibold;
  color: $color-text;
  text-align: center;
  margin-bottom: $spacing-40;
}

.form {
  @include flex-column;
  gap: $spacing-40;
}

.signup_input_box {
  position: relative;
  @include flex-column;
  gap: $spacing-12;
}


.checkbox_wrapper {
  position: relative;
}

.error_text {
  position: absolute;
  bottom: -$spacing-20;
  left: 0;
  font-family: $font-pretendard;
  font-size: $font-size-body-12;
  color: $color-red-500;
}

.error_message {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  font-family: $font-pretendard;
  font-size: $font-size-body-12;
  color: $color-red-500;
  text-align: center;
}
