// ================================
// Colors
// ================================

// Primary Colors
$color-primary: #8a0000;
$color-secondary: #4c0000;
$color-sub: #620000;

// Colors
$color-background: #ffffff;
$color-background-2: #f5f5f5;
$color-light-grey: #e8e8e8;
$color-text: #1b1b1b;
$color-subtext-2: #666666;
$color-subtext-3: #969696;

$color-red-500: #ef4444;
$color-red-600: #dc2626;

$color-kakao: #fee500;
$color-kakao-hover: #fdd835;



// ================================
// Typography
// ================================

// Font Families
$font-title: "Literata", serif;
$font-body: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

// Font Sizes - Title
$font-size-title: 2.5rem; // 40px
$font-size-title-1: 1rem; // 16px
$font-size-title-2: 2rem; // 32px
$font-size-title-3: 1.5rem; // 24px

// Font Sizes - Body
$font-size-body-20: 1.25rem; // 20px
$font-size-body-16: 1rem; // 16px
$font-size-body-14: 0.875rem; // 14px
$font-size-body-12: 0.75rem; // 12px


// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line Heights
$line-height-title: 1.2; // 120%
$line-height-body: 1.4; // 140%


// ================================
// Spacing
// ================================
$spacing-4: 0.25rem; // 4px
$spacing-8: 0.5rem; // 8px
$spacing-12: 0.75rem; // 12px
$spacing-16: 1rem; // 16px
$spacing-20: 1.25rem; // 20px
$spacing-24: 1.5rem; // 24px
$spacing-32: 2rem; // 32px
$spacing-40: 2.5rem; // 40px
$spacing-48: 3rem; // 48px
$spacing-64: 4rem; // 64px
$spacing-80: 5rem; // 80px
$spacing-96: 6rem; // 96px
$spacing-128: 8rem; // 128px

// ================================
// Border Radius
// ================================
$radius-4: 0.25rem; // 4px
$radius-6: 0.375rem; // 6px
$radius-8: 0.5rem; // 8px
$radius-12: 0.75rem; // 12px
$radius-16: 1rem; // 16px
$radius-20: 1.25rem; // 20px
$radius-40: 2.5rem; // 40px
$radius-full: 9999px;

// ================================
// Breakpoints
// ================================
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// ================================
// Shadows
// ================================
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-md: 0 2px 6px rgba(106, 106, 106, 0.25);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

// ================================
// Transitions
// ================================
$transition-normal: 300ms ease-out;
$transition-fast: 100ms ease-out;
