@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main {
  min-height: 100vh;
  background-image: url('/imgs/result-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
