@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main {
  min-height: 100vh;
  padding-top: 76px;
  background-color: $color-background;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: $spacing-48 $spacing-24;
  @include flex-column;
  gap: $spacing-16;

  @include lg {
    padding: $spacing-48 100px;
  }
}

.title {
  font-family: $font-pretendard;
  font-size: $font-size-title-32;
  font-weight: $font-weight-semibold;
  color: $color-text;
}

.description {
  font-family: $font-pretendard;
  font-size: $font-size-body-16;
  color: $color-subtext-2;
}
