@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.forgot_container {
  width: 100%;
  max-width: 400px;
  @include flex-column;
}

.title {
  font-size: $font-size-title-24;
  font-weight: $font-weight-semibold;
  color: $color-text;
  text-align: center;
  margin-bottom: $spacing-20;
}

.subtitle {
  font-family: $font-pretendard;
  font-size: $font-size-body-14;
  color: $color-subtext-2;
  text-align: center;
  margin-bottom: $spacing-40;
}

.form {
  @include flex-column;
  gap: $spacing-40;
}

.forgot_input_box {
  position: relative;
}


.error_message {
  position: absolute;
  bottom: -$spacing-20;
  left: $spacing-16;
  right: 0;
  font-family: $font-pretendard;
  font-size: $font-size-body-12;
  color: $color-red-500;
}

.success_message {
  font-family: $font-pretendard;
  font-size: $font-size-body-14;
  color: $color-subtext-2;
  text-align: center;
}
