@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main {
  padding-top: 108px;
  background-color: $color-background;
}

.container {
  width: 1432px;
  margin: 100 auto;
  @include flex-column;
  align-items: center;
  gap: $spacing-40;

}

.page_header {
  @include flex-column;
  align-items: center;
  gap: $spacing-24;
  text-align: center;
}

.title {
  font-family: $font-pretendard;
  font-size: $font-size-title-24;
  font-weight: $font-weight-semibold;
  color: $color-text;
}

.description {
  font-family: $font-pretendard;
  font-size: $font-size-body-14;
  color: $color-subtext-2;
}
