@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main {
  min-height: 100vh;
  padding-top: 76px;
  background-color: $color-background;
}

.container {
  width: 100%;
  width: 1432px;
  margin: 100px auto;
  @include flex-column;
  gap: $spacing-40;
}

.title {
  font-family: $font-pretendard;
  font-size: $font-size-title-32;
  font-weight: $font-weight-semibold;
  color: $color-text;
}

.content {
  display: flex;
  justify-content: space-between;
}

.menu_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-12;
}
