@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.footer {
  background-color: $color-text;
  color: $color-white;
}

.footer_container {
  @include flex-column;
  justify-content: space-between;
  gap: 80px;
  padding: 60px 100px 40px 100px;

}

// Top Section
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

// Left Content
.left_content {
  @include flex-column;
  gap: $spacing-12;
}

.tagline {
  font-family: $font-body;
  font-size: $font-size-body-14;
  font-weight: $font-weight-semibold;
  margin: 0;
}

.description {
  @include flex-column;
  gap: $spacing-4;
  font-family: $font-body;
  font-size: $font-size-body-14;
  font-weight: 100;

  p {
    margin: 0;
  }
}

// Right Links
.right_links {
  width: 277px;
  @include flex-column;
  align-items: flex-start;
  gap: 6px;
  color: $color-light-grey;
  
}

.footer_link {
  font-family: $font-body;
  font-size: $font-size-body-14;
  color: $color-subtext-3;
  text-decoration: none;
  @include transition;

  &:hover {
    color: $color-white;
  }
}

// Bottom Section
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-24;
}

.slogan {
  img {
    display: block;
  }
}

.brand_box {
  width: 100%;
  border-bottom: 1px solid $color-background;
}

.brand_info {
  @include flex-column;
  gap: 6px;
  text-align: right;
  padding-bottom: 4px;
}

.brand_name {
  font-family: $font-body;
  font-size: $font-size-body-20;
  font-weight: 100;
  letter-spacing: 0.05rem;
}

.copyright {
  margin-top: $spacing-4;
  font-family: $font-body;
  font-size: $font-size-body-14;
  color: $color-subtext-3;
}
